.card {
  background: var(--color-surface-secondary);
  border-radius: var(--border-radius-2xl);
  padding: var(--spacing-150);
  overflow: hidden;
}

.onSecondary {
  background: var(--color-surface-primary);
}
