.row {
  display: flex;
  align-items: center;
  gap: var(--spacing-250);
  padding: var(--spacing-250) var(--spacing-400);
  border-bottom: var(--border-width-sm) solid var(--color-border-tertiary);
  background: var(--color-surface-primary);
}

.row:last-child {
  border-bottom: none;
}

.meta {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-050);
}

.value {
  color: var(--color-fill-tertiary);
}

.variable {
  flex: 1;
  min-width: 0;
  text-align: left;
}

.variable > span {
  font-family: var(--font-family-code);
  color: var(--color-fill-accent);
  background: var(--color-surface-accent);
  border-radius: var(--border-radius-full);
  padding: var(--spacing-025) var(--spacing-150);
  display: inline-block;
}

.display {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 284px;
  padding: var(--spacing-200);
  background: var(--color-surface-secondary);
  border-radius: var(--border-radius-md);
}
