.groupDescription {
  color: var(--color-fill-secondary);
  margin-bottom: var(--spacing-350);
  max-width: 680px;
}

.specimensContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
