.group {
  margin-bottom: var(--spacing-800);
}

.header {
  display: flex;
  align-items: center;
  gap: var(--spacing-125);
  margin-bottom: var(--spacing-150);
}

.description {
  color: var(--color-fill-secondary);
  max-width: 640px;
  margin-bottom: var(--spacing-300);
}

.headerIcon {
  font-size: var(--font-size-125);
  color: var(--color-fill-tertiary);
  flex-shrink: 0;
  line-height: var(--line-height-icon);
  user-select: none;
}

.title {
  color: var(--color-fill-primary);
}

.count {
  color: var(--color-fill-tertiary);
  background: var(--color-surface-tertiary);
  padding: var(--spacing-025) 9px;
  border-radius: var(--border-radius-full);
  margin-left: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(224px, 1fr));
  gap: var(--spacing-175);
}
