.card {
  border: var(--border-width-sm) solid var(--color-border-tertiary);
  border-radius: var(--border-radius-xl);
  background: var(--color-surface-primary);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.preview {
  background: var(--color-surface-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.info {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-100);
  padding: var(--spacing-250) var(--spacing-300) var(--spacing-250);
  border-top: var(--border-width-sm) solid var(--color-border-tertiary);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--spacing-100);
}

.name {
  color: var(--color-fill-primary);
}

.subtitle {
  color: var(--color-fill-tertiary);
  white-space: nowrap;
}

.variable {
  color: var(--color-fill-accent);
  font-family: var(--font-family-code);
  background: var(--color-surface-accent);
  border-radius: var(--border-radius-full);
  padding: var(--spacing-025) var(--spacing-150);
  align-self: flex-start;
}

.value {
  color: var(--color-fill-tertiary);
  font-family: var(--font-family-code);
  word-break: break-all;
}

.description {
  color: var(--color-fill-secondary);
}
