.sectionHeader {
  display: flex;
  align-items: center;
  gap: var(--spacing-125);
  margin-bottom: var(--spacing-300);
}

.sectionIcon {
  color: var(--color-fill-tertiary);
  flex-shrink: 0;
  user-select: none;
}

.sectionTitle {
  color: var(--color-fill-primary);
}

.sectionCount {
  color: var(--color-fill-tertiary);
  background: var(--color-surface-tertiary);
  padding: var(--spacing-025) 9px;
  border-radius: var(--border-radius-full);
  margin-left: auto;
}
