.root {
  margin-bottom: var(--spacing-300);
}

.sectionHeaderRow {
  display: flex;
  align-items: center;
  gap: var(--spacing-125);
}

.sectionIcon {
  color: var(--color-fill-tertiary);
  flex-shrink: 0;
  user-select: none;
}

.sectionTitle {
  color: var(--color-fill-primary);
}

.count {
  margin-left: auto;
}

.sectionDescription {
  color: var(--color-fill-secondary);
  max-width: 640px;
  margin-top: var(--spacing-150);
}
