.groupDescription {
  color: var(--color-fill-secondary);
  margin-bottom: var(--spacing-350);
  max-width: 680px;
}

.familiesGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacing-250);
}

.specimensContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-400);
}
